<div class="header">
  <div class="welcome-message">
    {{#if user}}
      <h1>Bienvenido, {{user.first_name}}!</h1>
    {{else}}
      <h1>Bienvenido!</h1>
    {{/if}}
  </div>
  <div class="user-actions">
    {{#if user}}
      <a href="/current" class="link-profile">Mi perfil</a>
      <a href="/logout" class="link-logout">Cerrar Sesión</a>
    {{else}}
      <a href="/login" class="link-login">Inicia sesión</a>
    {{/if}}
  </div>
</div>

<div class="products-box">
  {{#each products}}
    <div class="product-card">
      <h3>{{this.title}}</h3>
      <hr />
      <p>Categoría: {{this.category}}</p>
      <p>Descripción: {{this.description}}</p>
      <p>Precio: ${{this.price}}</p>
      <a href="/products/{{this._id}}">Ver detalle</a>
      {{#if ../user}}
        <!-- Botón para usuarios autenticados -->
        <button class="add-to-cart-btn" data-id="{{this._id}}">Agregar al carrito</button>
      {{else}}
        <!-- Botón para usuarios no autenticados -->
        <button class="login-to-buy-btn" onclick="window.location.href='/login'">Inicia sesión para comprar</button>
      {{/if}}
    </div>
  {{/each}}
</div>
<script src="/js/ecommerce.js"></script>